# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/

# ==========================
# macOS
# ==========================

.DS_Store

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Build
# ==========================

dist/
build/

# ==========================
# AI Generated Output
# ==========================

Output/

# ==========================
# IDE
# ==========================

.idea/

# ==========================
# Python Cache
# ==========================

.pytest_cache/
.mypy_cache/